.advantage--content {
  width: 70%;
  margin: 150px auto;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  &__titulo {
    text-align: center;
    font-family: $font--principal;
  }
  &__div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 0;
    p {
      width: 30%;
      font-size: $font-small;
      font-family: $font--principal;
    }
    img {
      width: 10%;
    }
    &--lista {
      width: 30%;
      font-size: $font-small;
      font-family: $font--principal;
      position: relative;
      li::before {
        content: "";
        position: absolute;
        border-left: 3px solid $cor-principal;
        border-bottom: 3px solid $cor-principal;
        // border-top: 3px solid $cor-principal; // caso utilize essa borda, aumentar o width e o height (11px e 11px)
        // border-right: 3px solid $cor-principal; // caso utilize essa borda, aumentar o width e o height (11px e 11px)
        width: 14px;
        height: 8px;
        left: -30px;
        transform: rotate(-45deg);
      }
      li:nth-child(2) {
        margin: 10px 0;
      }
    }
  }
}

@include device(xsm) {
  .advantage--content {
    margin: 70px auto;
    align-content: center;
    &__div {
      flex-direction: column;
      align-items: center;
      margin: 40px 0;
      p {
        width: 100%;
        text-align: center;
      }
      img {
        width: 20%;
        margin: 40px 0;
      }
      &--lista {
        width: 90%;
        display: flex;
        font-size: $font-little;
        text-align: center;
        line-height: 15px;
        li {
          width: 100%;
          &::before {
            display: flex;
            position: relative;
            top: 15px;
            left: -20px;
          }
          &:nth-child(2) {
            padding: 0;
            margin: 0 70px;
          }
        }
      }
    }
  }
}