.advantage--content {
  width: 70%;
  margin: 150px auto;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  &__titulo {
    text-align: center;
    font-family: $font--principal;
  }
  &__div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
    p {
      width: 30%;
      font-size: $font-small;
      font-family: $font--principal;
    }
    img {
      width: 10%;
    }
    &--lista {
      width: 30%;
      font-size: $font-small;
      font-family: $font--principal;
      position: relative;
      li::before {
        content: "";
        position: absolute;
        border-left: 3px solid $cor-principal;
        border-bottom: 3px solid $cor-principal;
        border-top: 3px solid $cor-principal;
        border-right: 3px solid $cor-principal;
        width: 11px;
        height: 11px;
        left: -30px;
        transform: rotate(-45deg);
      }
      li:nth-child(2) {
        padding: 30px 0;
      }
    }
  }
}

@include device(xsm) {
  .advantage--content {
    margin: 70px auto;
    &__div {
      flex-direction: column;
      align-items: center;
      p {
        width: 265px;
      }
      img {
        width: 20%;
        margin: 20px 0;
      }
      &--lista {
        display: flex;
        justify-content: center;
        li::before {
          left: auto;
        }
        li:nth-child(2) {
          padding: 0;
          margin: 0 50px;
        }
      }
    }
  }
}