.portfolio--main {
  display: flex;
  flex-flow: column nowrap;
  max-width: 1000px;
  width: 51%;
  margin: 0 auto;
  padding: 80px 0;
  &__titulo {
    text-align: center;
    padding-bottom: 20px;
    font-family: $font--principal;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    justify-content: space-evenly;
    &--item {
      width: 215px;
      height: 215px;
      background: $cinza-claro;
      &:nth-child(3n) {
        background: $cinza-escuro;
      }
      &:nth-child(3n-1) {
        background: $cinza-medio;
      }
      margin: 5px 0;
      a:hover {
        background: $cor-principal url('../../img/icon-eye.png') no-repeat center;
      }
    }
  }
  #content--btn {
    margin: 0 auto;
    width: 100px;
    display: flex;
    padding-bottom: 80px;
    &__link {
      color: $cor-text;
      display: flex;
      width: 100px;
      height: 35px;
      justify-content: center;
      border: 2px solid $cor-principal;
      align-items: center;
      border-radius: 18px;
      font-weight: bold;
      font-family: $font--principal;
      &:hover {
        background: $cor-principal;
      }
    }
  }
}
